@import url("https://fonts.googleapis.com/css2?family=Megrim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Wire+One&display=swap");
body {
  background-image: url(https://cdn.wallpapersafari.com/23/0/Qpbwdo.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#nav {
  display: flex;
  flex-direction: row;
  /* align-items: center;
  align-content: center;*/
  justify-content: center

  font-size: 2rem;
  font-family: "Wire One";
  color: whitesmoke;
  text-decoration: wavy;

  background-image: url(https://cdn.wallpapersafari.com/53/58/QhXCN0.jpg);
  border: double aqua 15px;
  height: auto;
  box-shadow: 0 2px 50px -2px aqua;
  border-radius: 15px;
}

#navtitle {
  display: flex;
  justify-content: center;
  font-family: "Megrim";
  font-size: 40px;
  color: aqua;
  text-shadow: red 4px 2px;
}
/* #links {
  display: flex;
  justify-content: center;
} */
.link {
  display: flexbox;
  flex-direction: row;
  font-family: "Wire One";
  font-size: 45px;
  color: white;
  text-decoration: none;
}
.link:hover {
  color: yellow;
  text-decoration: underline;
}
.link:visited {
  text-decoration: none;
  color: white;
}
#nav h2 {
  font-size: 75px;
  font-family: "Wire One";
  color: whitesmoke;
  margin-left: 100px;
  text-decoration: wavy;
}

.glow-on-hover {
  margin-left: 50px;
  width: 200px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #007273,
    #9df3f4,
    #00f0f2,
    #227273,
    #009798
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: aqua;
  transform: scale(100px, 100px);
}

.glow-on-hover:active:after {
  background: #000;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.homeHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size: 3rem;
  font-family: "Wire One";
  color: whitesmoke;
  text-decoration: wavy;
}

.homeMainCard {
  background-color: black;
  color: white;
  border: double aqua 15px;
  box-shadow: 0 2px 50px -2px cyan;
  transition: 0.3s;
  padding: 2px 16px;
  margin: auto;
  margin-bottom: 50px;
  width: 45rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 15px;
}

.myActivitiesForm {
  background-color: black;
  color: white;
  border: double aqua 15px;
  box-shadow: 0 2px 50px -2px cyan;
  transition: 0.3s;
  padding: 2px 16px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 30rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 15px;
}

.myActivitiesHeader {
  color: white;
  font-size: 3rem;
  padding: 15px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.myActivitiesSubHead {
  font-size: 1.25rem;
  padding: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.myActivitiesCard {
  background-color: black;
  color: white;
  border: double aqua 15px;
  box-shadow: 0 2px 50px -2px cyan;
  transition: 0.3s;
  padding: 2px 16px;
  margin: auto;
  margin-bottom: 50px;
  width: 45rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 15px;
}

.myActivitiesCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.activitiesHeader {
  color: white;
  font-size: 3rem;
  padding: 15px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.activitiesSubHead {
  font-size: 1.25rem;
  padding: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.activitiesCard {
  background-color: black;
  color: white;
  border: double aqua 15px;
  box-shadow: 0 2px 50px -2px cyan;
  transition: 0.3s;
  padding: 2px 16px;
  margin: auto;
  margin-bottom: 50px;
  width: 45rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 15px;
}

.activitiesCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.routinesHeader {
  color: white;
  font-size: 3rem;
  padding: 15px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

/* .routinesCard {
  background-color: black;
  color: white;
  border: double aqua 15px;
  box-shadow: 0 2px 50px -2px cyan;
  transition: 0.3s;
  padding: 2px 16px;
  margin: auto;
  margin-bottom: 50px;
  width: 45rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 15px;
} */

.publicRoutinesCard {
  background-color: black;
  color: white;
  border: double aqua 15px;
  box-shadow: 0 2px 50px -2px cyan;
  transition: 0.3s;
  padding: 2px 16px;
  margin: auto;
  margin-bottom: 50px;
  width: 45rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 15px;
}

.routinesCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.myRoutinesForm {
  background-color: black;
  color: white;
  border: double aqua 15px;
  box-shadow: 0 2px 50px -2px cyan;
  transition: 0.3s;
  padding: 2px 16px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 30rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 15px;
}

.myRoutinesHeader {
  color: white;
  font-size: 3rem;
  padding: 15px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.myRoutinesSubHead {
  font-size: 1.25rem;
  padding: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.myRoutinesCard {
  background-color: black;
  color: white;
  border: double aqua 15px;
  box-shadow: 0 2px 50px -2px cyan;
  transition: 0.3s;
  padding: 2px 16px;
  margin: auto;
  margin-bottom: 50px;
  width: 45rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 15px;
}

.myRoutinesCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
