@import url("https://fonts.googleapis.com/css2?family=Megrim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Wire+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stalemate&display=swap");
body {
  /* background-image: url(https://cdn.wallpapersafari.com/23/0/Qpbwdo.jpg); */
  background-color: white;
  margin: 0;
  padding: 0;
}
header {
  background-image: url(https://4kwallpapers.com/images/wallpapers/workout-limitless-endurance-gym-colorful-smoke-3556x2000-929.jpg);
}

#nav {
  display: flex;
  background: transparent;
  height: 125px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}
#nav:active {
  color: aqua;
}
#links {
  display: flex;
  justify-content: flex-end;
}
#main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link {
  font-family: "Wire One";
  font-size: 45px;
  color: white;
  text-decoration: none;
  padding-right: 40px;
}
.link:hover {
  color: #984950;
  text-shadow: 0 0 5px red;
  text-decoration: underline 2px aqua;
}
h1 {
  display: flex;
  justify-content: left;
  font-family: "Megrim";
  font-size: 65px;
  color: aqua;
  text-shadow: 0 0 5px white;
  padding-left: 15px;
}
h2 {
  font-size: 75px;
  font-family: "Wire One";
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
h3 {
  display: flex;
  justify-content: center;
  margin-top: -60px;
  font-family: "Stalemate";
  font-size: 50px;
  background: -webkit-linear-gradient(#802c2b, #467589);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
  margin-bottom: 150px;
}
h4 {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
h5 {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.heroimage {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.heroimage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(https://4kwallpapers.com/images/wallpapers/workout-limitless-endurance-gym-colorful-smoke-3556x2000-929.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(60%);
}
.steps {
  border: black solid 7px;
  width: 1000px;
}

.glow-on-hover {
  margin-left: 400px;
  width: 200px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 25px;
  font-family: "Wire One";
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #007273,
    #9df3f4,
    #522b45,
    #00f0f2,
    #802c2b,
    #227273,
    #009798,
    #522b45,
    #802c2b,
    #467589
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: aqua;
  transform: translate(0px, 5px, 5px);
  border: solid 2px black;
}

.glow-on-hover:active:after {
  background: black;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 0009496918654fe656abfefd4ae17d1a25b4025e
.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: -95px;
  margin-bottom: 50px;
  font-size: 100px;
}
<<<<<<< HEAD
=======

>>>>>>> 39cf49e447433fbbc8c6d921222e6493d94da8a1
=======

>>>>>>> 0009496918654fe656abfefd4ae17d1a25b4025e
footer {
  background-color: black;

  height: 100px;
  width: 100%;
}
.tag {
  display: flex;
  padding-top: 60px;
  padding-left: 15px;
  color: white;
}
.routinesCard {
  border: 2px solid black;
  margin-bottom: 10px;
}
