@import url("https://fonts.googleapis.com/css2?family=Megrim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Wire+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stalemate&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Medula+One&display=swap");
body {
  background-image: url(https://cdn.wallpapersafari.com/23/0/Qpbwdo.jpg);
}
#nav {
  display: flex;
  flex-direction: column;
  background-image: url(https://cdn.wallpapersafari.com/53/58/QhXCN0.jpg);
  border: double aqua 15px;
  height: auto;
  top: 0px;
  left: 0px;
  right: 0px;
  box-shadow: 0 2px 50px -2px aqua;
}
header {
  display: flex;
  justify-content: left;
  font-family: "Megrim";
  font-size: 40px;
  color: aqua;
  text-shadow: red 4px 2px;
  padding-left: 10px;
}

#links {
  display: flex;
  justify-content: center;
}
#links:active {
  color: aqua;
}
.link {
  padding-right: 50px;
  padding-bottom: 5px;
  font-family: "Wire One";
  font-size: 45px;
  color: white;
  text-decoration: none;
}
.link:hover {
  color: aqua;
  text-decoration: underline 2px;
}

h2 {
  font-size: 75px;
  font-family: "Wire One";
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}
h3 {
  display: flex;
  justify-content: center;
  margin-top: -60px;

  /* font-family: "Stalemate"; */
  font-size: 20px;
  font-family: "Rampart One";
  color: black;
  text-shadow: whitesmoke 2px 1px;
  margin-bottom: 150px;
}
h4 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.steps {
  background-image: url(https://wallpaperaccess.com/full/1087589.jpg);
  background-position: fixed;
  height: 500px;
}
.create {
  font-size: 18px;
}
.glow-on-hover {
  margin-left: 650px;
  width: 200px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #007273,
    #9df3f4,
    #00f0f2,
    #227273,
    #009798
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: aqua;
  transform: translate(0px, 5px, 5px);
  border: solid 2px black;
}

.glow-on-hover:active:after {
  background: black;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

footer {
  background-color: black;
  height: 100px;
  width: 100%;
}
.tag {
  display: flex;
  padding-top: 30px;
  padding-left: 15px;
  color: white;
}
